html{
    scroll-behavior: smooth;

}
body{
  font-family:helvetica;
  font-weight:300;
  margin:0;
  background-color: #F5F5F5;
  display:block;
  font-size: 1.1rem;



}

.container{

  display: block;
  margin:0 auto;
  padding: 1rem;
  max-width: 100rem;
  background-color: #555555;
  border-bottom-color:#a49190;
  border-top: #555555;
  border-left: #555555;
  border-right: #555555;
  border-style: solid;
  border-width: 10px;
  padding-bottom:.75rem;



}



header h1 {
  font-weight: 800;
  font-family:helvetica;
  color:white;
  text-align: center;
  font-size: 90px;
  text-decoration:underline;
  padding: 0;
  margin: 0;

}

header nav{
  font-weight:700;
  justify-content: flex-end;
  font-family:helvetica;
  text-align: center;
}

header a {
  padding: 0 20px;
  margin: 0;
  color:white;
  display: inline-block;

}
article{
  display: block;
}
main{
  display: block;
  margin:0 auto;
  padding: 1rem;
  max-width: 50rem;

}
.HeaderForContent{
  max-width:40rem;
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;



}

 section{
   display: block;
 }

}
